a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: url(img/background.png) no-repeat 50% 0;
  font: 14px/1.67 Arial,Helvetica,sans-serif;
}

.h_left {
margin-bottom: -75px;
}

.h_center
{
  margin-left: 260px;
}

.wrapper {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}
header {
  overflow: hidden;
}
.content {
  overflow: hidden;
}

.left_sidebar {
  float: left;
  width: 240px;
  background-color: red;
  margin-top: 28px;
}

.left_sidebar menu {
  background-color: orange;
  border-radius: 5px;
}


.navigation_bar {
/*  width: 500px;
*/
}

.personal_account {
  margin-top: -7px;
}

.bucket {
border-radius: 5px;
background: #f1f1f1 repeat-x 0 0;
margin-top:-40px
}

.other {
  border-radius: 5px;
  background: #f1f1f1 repeat-x 0 0;
  padding: 13px 12px;
  margin-top: -15px;
}

nav {
  margin-left: -40px;
}

nav li {
  float: left;
  margin-right: 5px;
}

nav li.current a {
  border-radius: 5px;
  background: #fb9d00 repeat-x 0 0;
  padding: 13px 12px;
  color: #fff;
}

nav li a {
  color: #000;
}

.search select {

}

.search input {
  width: 505px;
}

.search button {
  height: 15px;
  width: 50px;
}

.main_content {
  float: left;
  width: 740px;
  margin-left: 20px;
  margin-top: 28px;
  background-color: green;
}

.second {
  margin-left: 311px;
}

#logo {
}

#shop_title {
  color: #535353;
  font-size: 20px;
}