a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: url(img/background.png) no-repeat 50% 0;
    font: 14px/1.67 Arial, Helvetica, sans-serif;
}

.h_right {
    float: left;
}

.wrapper {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

/*                           header start                   */
#shop_title {
    color: #535353;
    font-size: 20px;
}

header {
    overflow: hidden;
}

.h_left {
    float: left;
    width: 240px;
    margin-right: 20px;
}

.h_center {
    float: left;
    width: 500px;
    margin-right: 7px;
}

.bucket {
    border-radius: 5px;
    background: #f1f1f1 repeat-x 0 0;
    /*margin-top: -32px;*/
}

.bucket a {
    text-decoration: underline;
}

.navigation_bar {
}

.navigation_bar li {
    line-height: 36px;
    height: 36px;
    padding: 0 10px;
    display: block;
}

.navigation_bar li a {
}

.navigation_bar li.current a {
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
    background: #fb9d00 repeat-x 0 0;
    padding: 0 10px;
    color: #fff;
    display: block;
    margin-left: 40px;
}

.other {
    border-radius: 5px;
    background: #f1f1f1 repeat-x 0 0;
    /*padding: 13px 12px;*/
    /*margin-top: -15px;*/
}

nav {
    margin-left: -50px;
}

nav li {
    float: left;
    margin-right: 5px;
}

nav li a {
    color: #000;
}

/*                                   header end                          */
.content {
    overflow: hidden;
}

.navigator {
    color: #7c7c7c;
    text-decoration: underline;
}

.left_sidebar {
    float: left;
    width: 240px;
    /*background-color: red;*/
    margin-top: 28px;
}

.left_sidebar menu {
    background-color: #feb900;
    border-radius: 5px;
}

#left_menu_top a {
    color: #fff;
    border-bottom: 1px solid white;
    font-size: 18px;
}

.left_menu {
    margin: 0;
    list-style: none;
    padding: 0;
}

.left_menu li {
    padding: 10px 20px;
}

.left_menu li a {
    display: block;
    border-bottom: 1px dotted white;
    padding-left: 17px;
    background: url("img/arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #333333;
}

.left_menu li img {
    margin-top: 5px;
}

.month {
    font-size: 10px;
    background: #e8ac15 repeat-x 0 0;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}

.december {
    padding: 3px 9px;
}

.september {
    padding: 3px 13px;
}

.july {
    padding: 3px 18px;
}

.text {
    float: right;
}

.number {
    background: #fdc203 repeat-x 0 0;
    padding: 7px 20px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    font-size: 24px;
}

.announcement {
    border-bottom: 1px solid #ababab;
    padding-left: 27px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #333333;
    font-weight: normal;
    background: url("img/arrows.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.announcement a {
    float: right;
}

.description {
    padding: 10px 15px;
    background: #f1f1f1 repeat-x 0 0;
    border-radius: 7px;
}

.sale_section {
    margin-top: 100px;
}

/*                    news          start          */
.news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font: 22px Arial, Helvetica, sans-serif;
    color: #333333;
    background: #f1f1f1 repeat-x 0 0;
    padding: 5px 15px;
}

.news-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.news-item .calendar {
    margin-right: 10px;
    width: 50px;
    float: left;
    text-align: center;
}

.news-item .calendar .month {
    font-size: 10px;
}

.news-item .calendar .day {
    background: #fdc303; /* Old browsers */
    background: -moz-linear-gradient(top, #fdc303 0%, #fba003 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdc303 0%, #fba003 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdc303 0%, #fba003 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdc303', endColorstr='#fba003', GradientType=0); /* IE6-9 */
    color: #fff;
    font-size: 24px;
    border-radius: 0 0 5px 5px;
}

.news-item .news-content {
    font-size: 12px;
}

.news-item .news-content .news-content-title {
    color: #333333;
}

.news-item .news-content .news-content-body {
    height: 40px;
}

/*            news  end         */
.share a {
    float: right;
}

.share span img {
    margin-bottom: -5px;
}

.share {
    margin-top: 18px;
    padding-left: 17px;
    margin-bottom: 18px;
}

/*                        suite              start                      */
.suite_container {
    border: 0.5px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 12px;
    padding: 0 20px;
    overflow: hidden;
}

.suite-item {
    width: 120px;
    float: left;
}

.product_name a {
    text-decoration: underline;
    color: #333333;
    font-size: 12px;
}

.suite_item {
    width: 100px;
    float: left;
}

/*               suite               end                          */
.orange_link {
    font-size: 14px;
    color: #ff8400;
    text-decoration: underline;
}

/*                          second          suite   start                   */
.second {
    width: 120px;
    float: left;
    margin-bottom: 100px;
    margin-left: 20px;
}

/*                          second          suite   end                   */
.feedback_container {
    padding: 5px 25px;
    border: 0.5px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 12px;
}

.feedback_container span {
    background: #f1f1f1 repeat-x 0 0;
    padding: 3px 15px;
}

.feedback_container a {
    text-decoration: underline;
}

.pages_navigation a {
    text-decoration: underline;
    color: #333333;
    margin-left: 5px;
}

#feedback_date {
    float: right;
}

.search {
    margin-bottom: 5px;
}

.search input {
    width: 505px;
}

.search button {
    color: #fff;
    border: 0px;
    background-color: #fdb416;
    border-radius: 5px;
}

.image_from_video {
    float: right;
}

.plus {
    float: left;
    font-size: 50px;
    color: #ff8400;
}

.main_content {
    float: left;
    width: 740px;
    margin-left: 20px;
    margin-top: 28px;
}

.third {
    height: 275px;
    margin-top: 10px;
    background: #f1f1f1 repeat-x 0 0;
    padding: 20px;
    border-radius: 12px;
}

.product_price_container {
    width: 266px;
    padding: 5px 5px;
    border: 0.5px;
    background: #ffffff repeat-x 0 0;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 12px;
}

#navigator_current {
    color: #a4a4a4;
    font: 12px Arial, Helvetica, sans-serif;
}

.third span {
    color: #ff8400;
    font-size: 20px;
}

.about {
    margin-left: 100px;
    float: left;
    width: 500px;
}

.about a {
    color: #393939;
}

.logo {
    float: left;
    display: block;
    width: 160px;
    color: #ababab;
    font-size: 11px;
}

.site_development {
    display: block;
    width: 200px;
    float: right;
    color: #ababab;
}

.site_development a {
    color: #393939;
    font-size: 12px;
    text-decoration: underline;
}

.footer {
    overflow: hidden;
}

.product_image {
    float: left;
    width: 250px;
}

.product_price_container {
    float: left;
    width: 270px;
